# modified from https://github.com/github/gitignore/blob/main/Python.gitignore

.ipynb_checkpoints# Byte-compiled / optimized / DLL files
__pycache__/
#*.py[cod]
#*$py.class

# Wandb
wandb/

# Notebook logs
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Distribution / packaging
#.Python
build/
#develop-eggs/
#dist/
#downloads/
eggs/
.eggs/
#lib/
#lib64/
#parts/
#sdist/
#var/
#wheels/
#share/python-wheels/
*.egg-info/
#.installed.cfg
*.egg
#MANIFEST

# Unit test / coverage reports
#htmlcov/
.tox/
#.nox/
#.coverage
#.coverage.*
#.cache
#nosetests.xml
#coverage.xml
#*.cover
#*.py,cover
#.hypothesis/
#.pytest_cache/
#cover/

# Sphinx documentation
#docs/_build/

# Environments
.env
#.venv
#env/
#venv/
#ENV/
#env.bak/
#venv.bak/

# vscode
*.vscode

# code output
output/

# markdown files for developers
DEVELOPMENT.md
NOTES.md
TO_DO.md

# requirements for github (will include eventually)
#requirements.txt

# misc code folder for ad hoc stuff
misc/

# ignore test output
tests/output
sandpit/output
sandpit/data

# ignore semore output
semore_expts/task_*/*
semore_expts/final_test/*
!semore_expts/task_*/config/
!semore_expts/task_*/scripts/
!semore_expts/task_*/README.md
!semore_expts/final_test/config/
!semore_expts/final_test/scripts/
!semore_expts/final_test/README.md


# ignore old semore output
#semore_expts_old/task_*/*
#semore_expts_old/visualise/*
#semore_expts_old/templates/*
#!semore_expts_old/task_1/config
#!semore_expts_old/task_1/scripts
#!semore_expts_old/task_*/train.sh
#!semore_expts_old/task_*/k_fold.py
semore_expts_old/task_*/*
semore_expts_old/final_test/*
!semore_expts_old/task_*/config/
!semore_expts_old/task_*/scripts/
!semore_expts_old/task_*/README.md
!semore_expts_old/final_test/config/
!semore_expts_old/final_test/scripts/
!semore_expts_old/final_test/README.md

# ignore tma output
piccolo_tma/normal_cancer_ARCHIVE/*
piccolo_tma/WT_PATIENT_OUTCOMES_PAN/task_*/*
!piccolo_tma/WT_PATIENT_OUTCOMES_PAN/task_*/config/
!piccolo_tma/WT_PATIENT_OUTCOMES_PAN/task_*/scripts/
!piccolo_tma/WT_PATIENT_OUTCOMES_PAN/task_*/README.md
piccolo_tma/NORMAL_VS_CANCER/task_*/*
!piccolo_tma/NORMAL_VS_CANCER/task_*/config/
!piccolo_tma/NORMAL_VS_CANCER/task_*/scripts/
!piccolo_tma/NORMAL_VS_CANCER/task_*/README.md

# ignore temp
test_explain/*

# ignore digits letters
digits_letters/task_*/*
digits_letters/final_test/*
!digits_letters/task_*/config/
!digits_letters/task_*/scripts/
!digits_letters/task_*/README.md
!digits_letters/final_test/config/
!digits_letters/final_test/scripts/
!digits_letters/final_test/README.md
digits_letters/task_3/*
digits_letters/task_4/*

# ignore renal
renal/*
renal_*/*

# ignore sandpit
sandpit/*

# ignore eclipse
eclipse/*

# demo
demo/output/*